
/* Color de fondo */
body {
  background: steelblue;
}

/* Formato del slider */
.slider {
  max-width: 320px;	/* Tamaño (máximo) de ancho de las imágenes */
  margin: auto;
  border:10px solid black;
  border-radius:7%;
}
